html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: normal 400 16px/1.5 "CircularStd", Arial, sans-serif;
  color: $dark-90;
  background-color: $bg;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.accent {
  font-weight: 700;
  color: $accent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}